@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globais do projeto */
* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-light text-gray-800 transition-colors duration-300;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui, Arial, sans-serif;
  }

  .dark body {
    @apply bg-gray-900 text-gray-200;
  }
}

@layer utilities {
  .prose {
    color: #374151;
    max-width: 65ch;
  }
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose strong {
    font-weight: 600;
    color: #1f2937;
  }
  .prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}
